.pagination {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;

  .back {
    grid-column: 1/2;
  }

  .current-page {
    justify-self: center;
    grid-column: 2/3;
  }

  .forward {
    grid-column: 3/4;
  }
}

@media only screen and (min-width: 425px) {
  .pagination {
    grid-template-columns: 2fr 1fr 2fr;

    .back {
      justify-self: end;
    }

    .forward {
      justify-self: start;
    }
  }
}
