.ingredient-image {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  border-bottom: 1px solid var(--blue);
  cursor: pointer;
  max-width: 200px;
  padding-bottom: 1rem;

  .name {
    font-size: 1.5rem;
    text-align: center;
  }

  &:last-child {
    border-bottom: none;
  }

  &.medium {
    width: 150px;
  }

  &.small {
    width: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .ingredient-image {
    border-bottom: none;
  }
}
