#search-input {
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 0.5rem;

  .input {
    background-color: transparent;
    border: none;
    width: 100%;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: var(--white);
      opacity: 1;
    }
  }
}
