@import url("./LoadingPage.css");
@import url("./RandomCocktail.css");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --nav-height: 72px;
}

main {
  display: flex;
  justify-content: center;

  min-height: 100vh;
  padding-top: calc(var(--nav-height) + 3rem);
}
