.search-result-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr max-content;
  gap: 2rem;

  background-color: var(--blue);
  border-radius: 5px;
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .search-result-item {
    grid-template-columns: 100px 1fr max-content;
    padding: 1rem 2rem;
  }
}
